@import "../components/palette.css";

.main--container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.right--container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: var(--Surface);
}

.user-card {
    width: 100%;
    height: 12%;
    cursor: pointer;
}

.search-area-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.inbox{
    position: absolute;
    bottom: 0;
    height: 80%;
}

.sender-card {
    width: 100%;
    height: 18%;
    text-align: center;
}

.text-input {
    width: 100%;
    height: 5%;
    align-items: center;
}