.profile--page--layout{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.profile--avatar--bio{
    text-align: center;
}

.personal--info{
    width: 400px;
    margin-bottom: 60px;
}

.profile--setting button{
    margin-bottom: 20px;
}