.send-message-containers
{
    display: flex;
    flex-direction: row;
    border:1px solid grey;
    padding:2px;
}

.send-message-container {
    display: flex;
    border: 0.25px solid var(--OnBackground);
 background: fixed;
    border-radius: 5px;
}
.search-form input[type="text"] {
    font-size: 1.3em;
     height: 500px;
     border: none;
 }
