@import "palette.css";

.skill{
    display: flex;
    align-content: center;
    align-items:center;
    justify-content: left;
    height: 20px;
    width: 250px;
    margin-bottom: 5px;
}

.skill--title{
    margin-right: auto;
}

.star{
    color: #50a161; 
    display: inline;
}