:root {
    --Hyperlink: #3366CC;
    --HyperlinkHover: #387bce;
    --Primary: #2D6A3C;
    --OnPrimary: #FFFFFF;
    --PrimaryContainer: #B0F2B7;
    --OnPrimaryContainer: #00210A;
    --Secondary: #546254;
    --OnSecondary: #FFFFFF;
    --SecondaryContainer: #D7E7D4;
    --OnSecondaryContainer: #121E13;
    --Tertiary: #43636A;
    --OnTertiary: #FFFFFF;
    --TertiaryContainer: #C6E9F0;
    --OnTertiaryContainer: #001F24;
    --OnErrorContainer: #410002;
    --ErrorContainer: #FFDAD6;
    --OnError: #FFFFFF;
    --Error: #BA1A1A;
    --Background: #FCFCF8;
    --OnBackground: #1A1C1A;
    --OnSurface: #1A1C1A;
    --SurfaceVariant: #DFE4DB;
    --OnSurfaceVariant: #434842;
    --Outline: #737971;
    --Surface: #FCFCF8;
    --Surface1: color-mix(in srgb, #2D6A3C 5%, #FCFCF8);
    --Surface2: color-mix(in srgb, #2D6A3C 8%, #FCFCF8);
    --Surface3: color-mix(in srgb, #2D6A3C 11%, #FCFCF8);
    --Surface4: color-mix(in srgb, #2D6A3C 12%, #FCFCF8);
    --Surface5: color-mix(in srgb, #2D6A3C 14%, #FCFCF8);
    --Complementary1: #B55FB8;
    --Complementary2: #69326B;
    --Complementary2: #B85D3B;
    --Complementary2: #6B3A28;
    --Primary100: #FFFFFF;
    --Primary99: #F6FFF2;
    --Primary95: #C5FFC9;
    --Primary90: #A1F6AD;
    --Primary80: #85D993;
    --Primary70: #6ABD7A;
    --Primary60: #50A161;
    --Primary50: #34874A;
    --Primary40: #146D33;
    --Primary30: #005322;
    --Primary20: #003916;
    --Primary10: #00210A;
    --Primary0: #000000;
    --Secondary100: #FFFFFF;
    --Secondary99: #F6FFF2;
    --Secondary95: #E2F6DF;
    --Secondary90: #D3E8D1;
    --Secondary80: #B8CCB6;
    --Secondary70: #9DB09C;
    --Secondary60: #829682;
    --Secondary50: #697C69;
    --Secondary40: #516351;
    --Secondary30: #394B3A;
    --Secondary20: #233425;
    --Secondary10: #0F1F11;
    --Secondary0: #000000;
    --Tertiary100: #FFFFFF;
    --Tertiary99: #F7FDFF;
    --Tertiary95: #D2F7FF;
    --Tertiary90: #BDEAF4;
    --Tertiary80: #A1CED7;
    --Tertiary70: #86B3BB;
    --Tertiary60: #6C98A0;
    --Tertiary50: #527E86;
    --Tertiary40: #39656D;
    --Tertiary30: #1F4D55;
    --Tertiary20: #00363E;
    --Tertiary10: #001F24;
    --Tertiary0: #000000;
    --Error100: #FFFFFF;
    --Error99: #FFFBFF;
    --Error95: #FFEDEA;
    --Error90: #FFDAD6;
    --Error80: #FFB4AB;
    --Error70: #FF897D;
    --Error60: #FF5449;
    --Error50: #DE3730;
    --Error40: #BA1A1A;
    --Error30: #93000A;
    --Error20: #690005;
    --Error10: #410002;
    --Error0: #000000;
    --Neutral: #5D5F5B;
    --Neutral100: #FFFFFF;
    --Neutral99: #FCFDF7;
    --Neutral95: #F0F1EC;
    --Neutral90: #E2E3DD;
    --Neutral80: #C5C7C2;
    --Neutral70: #AAACA7;
    --Neutral60: #8F918D;
    --Neutral50: #757873;
    --Neutral40: #5D5F5B;
    --Neutral30: #454744;
    --Neutral20: #2E312E;
    --Neutral10: #1A1C19;
    --Neutral0: #000000;
    --NeutralVariant: #596058;
    --NeutralVariant100: #FFFFFF;
    --NeutralVariant99: #F7FEF3;
    --NeutralVariant95: #ECF3E8;
    --NeutralVariant90: #DDE5DA;
    --NeutralVariant80: #C1C9BE;
    --NeutralVariant70: #A6ADA3;
    --NeutralVariant60: #8B9389;
    --NeutralVariant50: #727970;
    --NeutralVariant40: #596058;
    --NeutralVariant30: #414941;
    --NeutralVariant20: #2B322B;
    --NeutralVariant10: #161D17;
    --NeutralVariant0: #000000;
    

}