.Page-title {
  text-align: center;
}
.Header-title {
  margin-left: 15px;
}
.route-content-loginpage {
  width: 250px;
  height: 15px;
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  margin-left: 15px;
}
.btn--width140--height40 {
  margin-top: 30px;
}
