.user-info{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;

    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-sort-info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

p {
    margin: 2px;
}

.user-name{
    font-size: 18px;
    font-weight: 600;
}


