.user-info{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-sort-info.p{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#profile-picture{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100px;
    width: 100px;
}

.user-name{
    padding: 10px;
}
